

<h1>{{{songTitle}}}</h1>

<table>
    <tr></tr>
        <th>Artist</th>
            <td>{{{songArtist}}}</td>
        <th>Genre(s)</th>
            <td>{{{songGenres}}}</td>
        <th>Rating</th>
            <td>{{{songRating}}}</td>
        <th>Song Links</th>
            <td>{{{songLinks}}}</td>
        <th>Song Comments</th>
            <td>{{{songComments}}}</td>
</table>

