

<p>This is {{{title}}}</p>

<li>
<ul>
    {{ <li>{{this.title}}</li>
    <li>{{this.genre}}</li>
    <li>{{this.artist}}</li>
    <li>{{this.overallRating}}</li>
    <li>{{this.comments}}</li>
</ul>


</li>
