{{!--
--> All the ids, fors need to be changed

--}}

<h1>{{{songTitle}}}</h1>

<ul>
    <li>{{{songArtist}}}</li>
    <li>{{{songGenres}}}</li>
    <li>{{{songRating}}}</li>
    <li>{{{songLinks}}}</li>
    <li>{{{songComments}}}</li>
</ul>
