

<h1>{{songTitle}} by {{songArtist}}</h1>

<div>
    <p>Rating</p>
    <p>{{songRating}}</p>
</div>

<table>
    <tr>
        <th>Rating</th>
        <th>Username</th>
    </tr>
    <tr>
        <td>{{songRating}}</td>
        <td>{{username}}</td>
    </tr>
    <button type="submit">Like</button>
    <button type="submit">Dislike</button>
</table>

<table>
    <tr>
        <th>Genres</th>
        {{#each songGenres}}
        <td>{{this}}</td>
        {{/each}}
    </tr>
</table>

<h3>Recommended Songs</h3>
<table>
    <tr>
        <th>Song</th>
        <th>Artist</th>
    </tr>
    {{#each recommended}}
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.artist}}</td>
    </tr>
     {{/each}}
</table>

