<script> src="/public/js/main.js"></script>
{{!-- inlcude the routes in the main.js( the ones where its says url = ) --}}
<form id="dropdown" >
  <label id = "search1" for="dropdown">Choose an option:</label><br>
  <select id = "searchType">
    <option value="option1">Song</option>
    <option value="option2">Artist</option>
    <option value="option3">Genre</option>
  </select>
</form>

<form id = "search" method="POST" action={{{url}}}> 
      <label for="name">Name:</label><br>
      <input type="text" id="searchTerm" name="searchsong"><br>
      <input type="submit" value="Submit">
</form>


<h1>Songs</h1> 
<table id="songs-table">
   
    <tr>
        <th>Song Title</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Overall Rating</th>
    </tr>
    {{#each song}}
    <tr>
        <td>{{title}}</td>
        <td>{{artist}}</td>
        <td>{{genres}}</td>
        <td>{{overallRating}}</td>
    </tr>
   {{/each}}
</table>


